<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animation1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{170,144}</string>
                <key>textureRect</key>
                <string>{{497,1},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{164,144}</string>
                <key>spriteSourceSize</key>
                <string>{170,144}</string>
                <key>textureRect</key>
                <string>{{665,1},{164,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{166,138}</string>
                <key>spriteSourceSize</key>
                <string>{170,144}</string>
                <key>textureRect</key>
                <string>{{1,1},{166,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{166,142}</string>
                <key>spriteSourceSize</key>
                <string>{170,144}</string>
                <key>textureRect</key>
                <string>{{329,1},{166,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{164,144}</string>
                <key>spriteSourceSize</key>
                <string>{170,144}</string>
                <key>textureRect</key>
                <string>{{831,1},{164,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{162,144}</string>
                <key>spriteSourceSize</key>
                <string>{170,144}</string>
                <key>textureRect</key>
                <string>{{997,1},{162,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{158,144}</string>
                <key>spriteSourceSize</key>
                <string>{170,144}</string>
                <key>textureRect</key>
                <string>{{1161,1},{158,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,2}</string>
                <key>spriteSize</key>
                <string>{158,140}</string>
                <key>spriteSourceSize</key>
                <string>{170,144}</string>
                <key>textureRect</key>
                <string>{{169,1},{158,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{168,144}</string>
                <key>spriteSourceSize</key>
                <string>{170,144}</string>
                <key>textureRect</key>
                <string>{{1321,1},{168,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{168,144}</string>
                <key>spriteSourceSize</key>
                <string>{170,144}</string>
                <key>textureRect</key>
                <string>{{1491,1},{168,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{170,144}</string>
                <key>textureRect</key>
                <string>{{1661,1},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,144}</string>
                <key>spriteSourceSize</key>
                <string>{170,144}</string>
                <key>textureRect</key>
                <string>{{1829,1},{164,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>animation.png</string>
            <key>size</key>
            <string>{1994,146}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ec113ae9c29eb17a4a30592fab2ecef:573f8dce9b2cdf198ddd5385a9fd7879:0a34c58c0aa3d5b8cfa3f16913e33dfe$</string>
            <key>textureFileName</key>
            <string>animation.png</string>
        </dict>
    </dict>
</plist>
