<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-3}</string>
                <key>spriteSize</key>
                <string>{141,120}</string>
                <key>spriteSourceSize</key>
                <string>{173,160}</string>
                <key>textureRect</key>
                <string>{{140,156},{141,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{137,122}</string>
                <key>spriteSourceSize</key>
                <string>{173,160}</string>
                <key>textureRect</key>
                <string>{{1,158},{137,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-3}</string>
                <key>spriteSize</key>
                <string>{143,104}</string>
                <key>spriteSourceSize</key>
                <string>{173,160}</string>
                <key>textureRect</key>
                <string>{{219,1},{143,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-3}</string>
                <key>spriteSize</key>
                <string>{155,52}</string>
                <key>spriteSourceSize</key>
                <string>{173,160}</string>
                <key>textureRect</key>
                <string>{{1,1},{155,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{153,72}</string>
                <key>spriteSourceSize</key>
                <string>{173,160}</string>
                <key>textureRect</key>
                <string>{{145,1},{153,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-7}</string>
                <key>spriteSize</key>
                <string>{153,88}</string>
                <key>spriteSourceSize</key>
                <string>{173,160}</string>
                <key>textureRect</key>
                <string>{{55,1},{153,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-8}</string>
                <key>spriteSize</key>
                <string>{139,84}</string>
                <key>spriteSourceSize</key>
                <string>{173,160}</string>
                <key>textureRect</key>
                <string>{{325,1},{139,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{135,72}</string>
                <key>spriteSourceSize</key>
                <string>{173,160}</string>
                <key>textureRect</key>
                <string>{{283,146},{135,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-4}</string>
                <key>spriteSize</key>
                <string>{137,86}</string>
                <key>spriteSourceSize</key>
                <string>{173,160}</string>
                <key>textureRect</key>
                <string>{{357,142},{137,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bird.png</string>
            <key>size</key>
            <string>{444,282}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8cabdf0a13108f7702671d3e09bd63f5:0cc4f3a1ae5023353fc49cc58219daf5:5af5b3fbab807b4ca11b45d111eeecdf$</string>
            <key>textureFileName</key>
            <string>bird.png</string>
        </dict>
    </dict>
</plist>
