<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fly-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,237}</string>
                <key>spriteSourceSize</key>
                <string>{181,237}</string>
                <key>textureRect</key>
                <string>{{0,0},{181,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fly-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,237}</string>
                <key>spriteSourceSize</key>
                <string>{181,237}</string>
                <key>textureRect</key>
                <string>{{181,0},{181,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fly-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,237}</string>
                <key>spriteSourceSize</key>
                <string>{205,237}</string>
                <key>textureRect</key>
                <string>{{362,0},{205,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fly-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,237}</string>
                <key>spriteSourceSize</key>
                <string>{205,237}</string>
                <key>textureRect</key>
                <string>{{567,0},{205,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Fly.png</string>
            <key>size</key>
            <string>{772,237}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d249e383eb9a65177621b889d968fe1f:0a3ab12e5187ca1f81a09c80906976bc:50c6e6bf6f846da7c235d5630625de96$</string>
            <key>textureFileName</key>
            <string>Fly.png</string>
        </dict>
    </dict>
</plist>
